<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Secret Server</title>

	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<style>
		.container {
			padding-top: 20px;
		}
	</style>
</head>

<body>

<div class="container">
	<div class="row">
		<!-- GETTER -->
		<div class="col-md" id="get">
			<div class="card">
				<form>
					<div class="card-header">
						Secret Getter
					</div>
					<div class="card-body">

						<api-error :response="error_response"></api-error>
						<api-secret :secret="secret"></api-secret>

						<div class="form-group">
							<label for="hash">Hash</label>
							<input type="text" class="form-control" id="hash" aria-describedby="hashHelp"
								   placeholder="Enter Secret Hash" v-model="hash" required>
							<small id="hashHelp" class="form-text text-muted">Hash string of your secret.</small>
						</div>

					</div>
					<div class="card-footer">
						<button class="btn btn-primary" @click.prevent="getSecret">Get</button>
					</div>
				</form>
			</div>
		</div>

		<!-- SETTER -->
		<div class="col-md" id="set">
			<form>
				<div class="card">
					<div class="card-header">
						Secret Setter
					</div>

					<div class="card-body">
						<api-error :response="error_response"></api-error>
						<api-secret :secret="secret"></api-secret>

						<div class="form-group">
							<label for="data">Secret</label>
							<input type="text" class="form-control" id="data" aria-describedby="dataHelp"
								   placeholder="Enter your Secret Data" v-model="data" required>
							<small id="dataHelp" class="form-text text-muted">Your secret data to be stored.</small>
						</div>

						<div class="form-group">
							<label for="expireAfterViews">Expire After Views</label>
							<input class="form-control" id="expireAfterViews"
								   aria-describedby="expireAfterViewsHelp"
								   placeholder="Expire After Views" v-model="expireAfterViews" required>
							<small id="expireAfterViewsHelp" class="form-text text-muted">Secret can be viewed this many
								times.
							</small>
						</div>

						<div class="form-group">
							<label for="expireAfter">Expire After Minutes</label>
							<input class="form-control" id="expireAfterViews"
								   aria-describedby="expireAfterHelp"
								   placeholder="Expire After Minutes" v-model="expireAfter" required>
							<small id="expireAfterHelp" class="form-text text-muted">Secret will be available for this
								many minutes.
							</small>
						</div>

					</div>
					<div class="card-footer">
						<button class="btn btn-primary" @click.prevent="putSecret">Put</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/jquery/dist/jquery.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>

<script type="text/javascript" src="./js/components/error.js"></script>
<script type="text/javascript" src="./js/components/secret.js"></script>

<script type="text/javascript" src="./js/getter.js"></script>
<script type="text/javascript" src="./js/setter.js"></script>

</body>
</html>